<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
* 위시 상품 Mybatis 매퍼
 *
 * @author 임재성
 * @since 2024.08.25
 * @version 1.0
 *
 * <pre>
 * 수정일        	수정자        수정내용
* ==========  ========     ===========================
 * 2024.08.25  	임재성        최초 생성
 * 2024.08.25   임재성        위시 상품 조회
 * 2024.08.25   임재성        위시 상품 구매
 * 2024.08.26   임재성        위시 상품 조회 쿼리 수정
 * 2024.08.26   임재성        위시 상품 구매 메소드 수정
 * 2024.09.03   임재성        위시 조회 메서드 수정
 * </pre>
 */
 -->
<mapper namespace="com.themore.moamoatown.wish.mapper.WishMapper">

    <!-- 위시 상품 조회 -->
    <select id="findWishItemsByTownId" resultType="WishItemResponseDTO">
    <![CDATA[
        SELECT wish_id AS wishId, town_id AS townId, name, price
        FROM wish
        WHERE town_id = #{townId}
        ORDER BY wish_id
        OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
        ]]>
</select>

    <!-- 위시 상품 구매 -->
    <select id="purchaseWishProcedure" statementType="CALLABLE">
        <![CDATA[
        {CALL purchase_wish(#{memberId, mode=IN, jdbcType=NUMERIC}, #{wishId, mode=IN, jdbcType=NUMERIC}, #{result, mode=OUT, jdbcType=NUMERIC})}
        ]]>
    </select>


</mapper>
