<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
* 멤버 Mybatis 매퍼
* @author 이주현
* @since 2024.08.23
* @version 1.0
*
* <pre>
* 수정일        수정자        수정내용
* ==========  ========     ===========================
* 2024.08.23  이주현        최초 생성
* 2024.08.23  이주현        회원 가입 기능 추가
* 2024.08.24  이주현        로그인 기능 추가
* 2024.08.25  이주현        타운 참가 기능 추가
* 2024.08.25  이주현        재산 조회 기능 추가
* 2024.08.25  이주현        타운 내 순위 리스트 조회 기능 추가
* 2024.08.26  이주현        타운 참가 시 기본 모아 제공 기능 추가
* 2024.08.26  이주현        멤버 역할 조회
* 2024.08.26  이주현        멤버 타운 조회
* </pre>
-->

<mapper namespace="com.themore.moamoatown.member.mapper.MemberMapper">

    <!-- 닉네임 중복 확인 -->
    <select id="countMembersByNickname" parameterType="String" resultType="int">
    <![CDATA[
        SELECT COUNT(nickname)
        FROM member
        WHERE nickname = #{nickname}
        ]]>
    </select>

    <!-- 로그인 아이디 중복 확인 -->
    <select id="countMembersByLoginId" parameterType="String" resultType="int">
    <![CDATA[
        SELECT COUNT(login_id)
        FROM member
        WHERE login_id = #{loginId}
        ]]>
    </select>

    <!-- 멤버 데이터 삽입 -->
    <insert id="insertMember" parameterType="SignUpRequestDTO">
    <![CDATA[
        INSERT INTO member(member_id, nickname, login_id, password, role)
        VALUES (MEMBER_SEQ.nextval, #{nickname}, #{loginId}, #{password}, #{role})
        ]]>
    </insert>

    <!-- 로그인 아이디로 멤버 정보를 조회 -->
    <select id="findMemberByLoginId" parameterType="String" resultType="LoginInternalDTO">
    <![CDATA[
        SELECT member_id AS memberId,
               town_id AS townId,
               nickname,
               password,
               role
        FROM member
        WHERE login_id = #{loginId}
          AND delete_date IS NULL
        ]]>
    </select>

    <!-- 타운 코드로 타운 아이디 조회 -->
    <select id="findTownIdByTownCode" parameterType="String" resultType="Long">
    <![CDATA[
        SELECT town_id
        FROM town
        WHERE town_code = #{townCode}
          AND delete_date IS NULL
        ]]>
    </select>

    <!-- 멤버의 타운 아이디 업데이트 -->
    <update id="updateMemberTownId" parameterType="map">
    <![CDATA[
        UPDATE member
        SET town_id = #{townId}
        WHERE member_id = #{memberId}
          AND delete_date IS NULL
        ]]>
    </update>

    <!-- 멤버 투자 기본 데이터 삽입 -->
    <insert id="insertDefaultMemberInvestment" parameterType="MemberInvestmentDTO">
    <![CDATA[
        INSERT INTO member_investment(type_id, average, amount, member_id)
        VALUES (#{typeId}, 0, 0, #{memberId})
        ]]>
    </insert>

    <!-- 멤버 계좌 기본 데이터 삽입 -->
    <insert id="insertDefaultMemberAccount" parameterType="Long">
    <![CDATA[
        INSERT INTO account (account_id, trade_date, moa, type, member_id)
        VALUES (ACCOUNT_SEQ.NEXTVAL, DEFAULT, 50, 0, #{memberId})
        ]]>
    </insert>

    <!-- 내 재산 조회 -->
    <select id="findBalanceByMemberId" parameterType="Long" resultType="Long">
    <![CDATA[
        SELECT balance
        FROM member
        WHERE member_id = #{memberId}
          AND delete_date IS NULL
        ]]>
    </select>

    <!-- 타운 내 순위 리스트 조회 -->
    <select id="getMemberRanks" resultType="MemberRankResponseDTO">
    <![CDATA[
        SELECT
            TO_CHAR(profile) profile,
            nickname,
            balance,
            CASE
                WHEN member_id = #{currentUserId} THEN 'Y'
                ELSE 'N'
                END AS isCurrentUser
        FROM
            member
        WHERE
            town_id = #{townId}
          AND delete_date IS NULL
        ORDER BY
            balance DESC
        ]]>
    </select>

    <!-- 멤버 역할 조회 -->
    <select id="findApprovedJobByMemberId" resultType="MemberJobResponseDTO">
    <![CDATA[
        SELECT j.name, j.description, j.pay
        FROM job_request jr
                 JOIN job j ON jr.job_id = j.job_id
        WHERE jr.member_id = #{memberId}
          AND jr.allowYN = 'Y'
            FETCH FIRST 1 ROWS ONLY
        ]]>
    </select>

    <!-- 멤버 타운 조회 -->
    <select id="findTownByMemberId" resultType="MemberTownResponseDTO">
    <![CDATA[
        SELECT t.name, t.description, t.total_members AS totalMembers, t.total_tax AS totalTax
        FROM member m
                 JOIN town t ON m.town_id = t.town_id
        WHERE m.member_id = #{memberId}
        ]]>
    </select>

</mapper>