<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
* 멤버 Mybatis 매퍼
* @author 이주현
* @since 2024.08.23
* @version 1.0
*
* <pre>
* 수정일        	수정자        수정내용
* ==========  =========    =========
* 2024.08.23  	이주현        최초 생성
* 2024.08.23  	이주현        회원 가입 기능 추가
* 2024.08.24  	이주현        로그인 기능 추가
* </pre>
-->

<mapper namespace="com.themore.moamoatown.member.mapper.MemberMapper">
    <select id="countMembersByNickname" parameterType="String" resultType="Integer">
        <![CDATA[
        SELECT COUNT(nickname)
        FROM member
        WHERE nickname = #{nickname}
        ]]>
    </select>
    <select id="countMembersByLoginId" parameterType="String" resultType="Integer">
        <![CDATA[
        SELECT COUNT(login_id)
        FROM member
        WHERE login_id = #{loginId}
        ]]>
    </select>
    <insert id="insertMember" parameterType="SignUpRequestDTO">
    <![CDATA[
        INSERT INTO member(member_id, nickname, login_id, password, role)
        VALUES (MEMBER_SEQ.nextval, #{nickname}, #{loginId}, #{password}, #{role})
        ]]>
    </insert>
    <!--
    로그인 아이디로 멤버 정보를 조회
    @param loginId
    @return (memberId, townId, nickname, password, role)
    -->
    <select id="findMemberByLoginId" parameterType="String" resultType="LoginInternalDTO">
    <![CDATA[
        SELECT member_id AS memberId,
               town_id AS townId,
               nickname,
               password,
               role
        FROM member
        WHERE login_id = #{loginId}
          AND delete_date IS NULL
        ]]>
    </select>
</mapper>