<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
 * 코디 매퍼 XML
 * @version 1.0
 * @since 2024.08.25
 *
 * <pre>
 * 수정일        수정자        수정내용
 * ==========  ========     ===========================
 * 2024.08.25   임원정       최초 생성
 * </pre>
-->
<mapper namespace="com.themore.moamoatown.coordi.mapper.CoordiMapper">
    <!-- 내 옷장의 옷 가져오기 -->
    <select id="selectClothesByMemberId" resultType="MyClothesResponseDTO">
        <![CDATA[
        SELECT c.cloth_id, c.brand, c.name, c.type, c.img_url
        FROM closet cl JOIN clothes c ON cl.cloth_id = c.cloth_id
        WHERE member_id = #{memberId}
        ]]>
    </select>

    <!-- 코디한 사진 프로필로 업데이트 -->
    <update id="updateProfile">
        <![CDATA[
        UPDATE member
        SET profile = #{profileImage}
        WHERE member_id = #{memberId}
        ]]>
    </update>
</mapper>