<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
 * 투자 매퍼 XML
 * @version 1.0
 * @since 2024.08.27
 *
 * <pre>
 * 수정일        수정자        수정내용
 * ==========  ========     ===========================
 * 2024.08.27   임재성       최초 생성
 * </pre>
-->
<mapper namespace="com.themore.moamoatown.invest.mapper.InvestMapper">
    <!-- 내 흰디의 몸무게, 걸음 수 평단가 가져오기 -->
    <select id="getAverageWeightAndStep" resultType="AverageResponseDTO">
     <![CDATA[
        SELECT type_id,average,amount
        FROM member_investment
        WHERE member_id = #{memberId}
        ]]>
    </select>


</mapper>