<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
 * 투자 매퍼 XML
 * @version 1.0
 * @since 2024.08.27
 *
 * <pre>
 * 수정일        수정자        수정내용
 * ==========  ========     ===========================
 * 2024.08.27   임재성       최초 생성
 * 2024.08.27   임재성       내 평단가 가져오기
 * 2024.08.27   임재성       어제 가격 가져오기
 * 2024.08.27   임재성       오늘 가격과 힌트 가져오기
 * 2024.08.28   임재성       매수하기
 * 2024.08.28   임재성       매도하기
 * </pre>
-->
<mapper namespace="com.themore.moamoatown.invest.mapper.InvestMapper">
    <!-- 내 흰디의 몸무게, 걸음 수 평단가 가져오기 -->
    <select id="getAverageWeightAndStep" resultType="AverageResponseDTO">
     <![CDATA[
        SELECT type_id,average,amount
        FROM member_investment
        WHERE member_id = #{memberId}
        ]]>
    </select>

    <!-- 어제의 흰디의 몸무게,걸음 수 가격 가져오기 -->
    <select id="getYesterdayPrice" resultType="YesterdayPriceResponseDTO">
   <![CDATA[
        SELECT
            type,
            price
        FROM
            investment
        WHERE
            TRUNC(created_at) = TRUNC(SYSDATE - 1)
        ]]>
    </select>
    <!-- 오늘 흰디의 몸무게,걸음 수 가격, 힌트 가져오기 -->
    <select id="getTodayPrice" resultType="TodayPriceResponseDTO">
    <![CDATA[
        SELECT
            type,
            price,
            hint
        FROM
            investment
        WHERE
            TRUNC(created_at) = TRUNC(SYSDATE)
        ]]>
    </select>
    <!-- 매수하기 프로시저 호출 -->
    <select id="buyMemberInvest" statementType="CALLABLE">
    <![CDATA[
        {CALL BUY_INVESTMENT(
                #{memberId, mode=IN, jdbcType=NUMERIC},
                #{typeId, mode=IN, jdbcType=NUMERIC},
                #{purchaseAmount, mode=IN, jdbcType=NUMERIC},
                #{result, mode=OUT, jdbcType=NUMERIC})}
        ]]>
</select>
    <!-- 매도하기 프로시저 호출 -->
    <select id="sellMemberInvest" statementType="CALLABLE">
    <![CDATA[
        {CALL SELL_INVESTMENT(
                #{memberId, mode=IN, jdbcType=NUMERIC},
                #{typeId, mode=IN, jdbcType=NUMERIC},
                #{sellAmount, mode=IN, jdbcType=NUMERIC},
                #{result, mode=OUT, jdbcType=NUMERIC})}
        ]]>
</select>

    <!-- 오늘의 투자 처리를 위한 프로시저 호출 -->
    <select id="callProcessTodayInvestmentProcedure" statementType="CALLABLE">
        { CALL process_today_investment() }
    </select>






</mapper>