<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
* 지식 Mybatis 매퍼
* @author 이주현
* @since 2024.08.26
* @version 1.0
*
* <pre>
* 수정일        수정자        수정내용
* ==========  ========     ===========================
* 2024.08.26  이주현        최초 생성
* </pre>
-->

<mapper namespace="com.themore.moamoatown.knowledge.mapper.KnowledgeMapper">

    <!-- knowledgeId로 지식 조회 -->
    <select id="findById" resultType="KnowledgeResponseDTO">
        <![CDATA[
        SELECT title, content, TO_CHAR(created_at, 'YYYY-MM-DD HH24:MI:SS') AS createdAt
        FROM knowledge
        WHERE knowledge_id = #{knowledgeId}
        ]]>
    </select>
</mapper>