<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
 * 타운 매퍼 XML
 * @version 1.0
 * @since 2024.08.23
 *
 * <pre>
 * 수정일        수정자        수정내용
 * ==========  ========     ===========================
 * 2024.08.23   임원정       최초 생성
 * 2024.08.23   임원정       타운 만들기 관련 메소드 추가
 * 2024.08.24   임원정       타운 아이디 가져오기 함수 수정
 * 2024.08.26   임원정       타운 세금현황 조회 메소드 추가
 * 2024.08.26   임원정       타운 역할 신청 현황 조회 메소드 추가
 * </pre>
-->
<mapper namespace="com.themore.moamoatown.town.mapper.TownMapper">

    <!-- 타운 아이디 가져오기 -->
    <select id="selectIdByTownCode" resultType="Long">
        <![CDATA[
        SELECT town_id
        FROM town
        WHERE town_code = #{townCode}
        ]]>
    </select>

    <!-- 타운 만들기_타운 생성 -->
    <insert id="insertTown" parameterType="TownCreateRequestDTO" useGeneratedKeys="true" keyProperty="townId" keyColumn="town_id">
        <![CDATA[
        INSERT INTO town (town_id, town_code, name, description, pay_cycle)
        VALUES (TOWN_SEQ.nextval, #{townCode}, #{name}, #{description}, #{payCycle})
        ]]>
    </insert>

    <!-- 타운 만들기_생성한 회원에게 townId와 role 업데이트 -->
    <update id="updateMember">
        <![CDATA[
        UPDATE member
        SET town_id = #{townId},
            role = 1
        WHERE member_id = #{memberId}
        ]]>
    </update>

    <!-- 타운 세금현황 조회 -->
    <select id="selectTotalTaxByTownId" resultType="TownTaxResponseDTO">
        <![CDATA[
        SELECT total_tax
        FROM town
        WHERE town_id = #{townId}
        ]]>
    </select>

    <!-- 타운 역할 신청 현황 조회 -->
    <select id="selectJobRequestByTownId" resultType="JobRequestsResponseDTO">
        <![CDATA[
        SELECT jr.job_request_id, j.name, jr.comments, m.nickname, jr.allowYN
        FROM job j
                 JOIN job_request jr ON j.job_id = jr.job_id
                 JOIN member m ON jr.member_id = m.member_id
        WHERE j.town_id = #{townId}
        ]]>
    </select>
</mapper>
