<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
 * 타운 매퍼 XML
 * @version 1.0
 * @since 2024.08.23
 *
 * <pre>
 * 수정일        수정자        수정내용
 * ==========  ========     ===========================
 * 2024.08.23   임원정       최초 생성
 * 2024.08.23   임원정       타운 만들기 추가
 * 2024.08.24   임원정       타운 아이디 가져오기 함수 수정
 * </pre>
-->
<mapper namespace="com.themore.moamoatown.town.mapper.TownMapper">

    <!-- 타운 아이디 가져오기 -->
    <select id="selectIdByTownCode" resultType="Long">
        <![CDATA[
        SELECT town_id
        FROM town
        WHERE town_code = #{townCode}
        ]]>
    </select>

    <!-- 타운 만들기_타운 생성 -->
    <insert id="insertTown" parameterType="TownCreateRequestDTO" useGeneratedKeys="true" keyProperty="townId" keyColumn="town_id">
        <![CDATA[
        INSERT INTO town (town_id, town_code, name, description, pay_cycle)
        VALUES (TOWN_SEQ.nextval, #{townCode}, #{name}, #{description}, #{payCycle})
        ]]>
    </insert>

    <!-- 타운 만들기_생성한 회원에게 townId 넣어주기 -->
    <update id="updateMemberTownId" parameterType="map">
        <![CDATA[
        UPDATE member
        SET town_id = #{townId}
        WHERE member_id = #{memberId}
        ]]>
    </update>
</mapper>
