<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
/**
 * JOB 관련 데이터베이스 작업을 처리하는 매퍼
 * MyBatis를 사용하여 데이터베이스와 상호작용합니다.
 *
 * @author 임재성
 * @since 2024.08.26
 * @version 1.0
 *
 * <pre>
 * 수정일        	수정자        수정내용
* ==========  =========    =========
 * 2024.08.26  	임재성        최초 생성
 * 2024.08.26   임재성        역할 리스트 조회 기능 추가
 * 2024.08.26   임재성        역할 리스트 조회 메서드 수정
 * 2024.08.26   임재성        역할 요청 기능 추가
 * </pre>
 */
 -->
<mapper namespace="com.themore.moamoatown.job.mapper.JobMapper">

    <!-- 타운 ID에 따른 JOB 목록 조회 -->
    <select id="findJobsByTownId" resultType="JobResponseDTO">
    <![CDATA[
        SELECT
            job_id,
            town_id,
            name,
            description,
            pay
        FROM job
        WHERE town_id = #{townId}
        ]]>
    </select>

    <!-- 역할 요청 삽입 -->
    <insert id="insertJobRequest">
    <![CDATA[
        INSERT INTO job_request (job_request_id, job_id, member_id, comments)
        VALUES (JOB_REQUEST_SEQ.NEXTVAL, #{jobId}, #{memberId}, #{comments})
        ]]>
    </insert>
</mapper>
